.main-widget {
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    // padding-top: 5.25rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.6rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2rem) saturate(1.3);
    box-sizing: border-box;
    position: relative;
    color: rgb(255, 255, 255);
    height: 100%;
    justify-content: center;

    &__head{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 2rem);
        top: 1rem;
    }

    &__title {
        font-weight: 500;
        line-height: 1;
        margin: 0;
    }

    &__badge {
        font-weight: 300;
        opacity: 0.5;
        font-size: 0.75rem;
        margin: 0;
    }
}
