/* src/VerticalSlider.css */
.vertical-slider {
  width: 6.5rem;
  height: 18rem;
  
  position: relative;
  border-radius: 1.8rem;
  overflow: hidden;
  // box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.1);
  // border: 1px solid rgba(0, 0, 0, 0.02);

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: .2s;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.vertical-slider__track {
  position: relative;
  width: 100%;
  height: 100%;
}

.vertical-slider__thumb {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: background-color .2s;
}

.vertical-slider__value-display {
  position: absolute;
  top: 5px;
  left: 60px;
  font-size: 16px;
  font-weight: bold;
}

.vertical-slider__icon {
  position: absolute;
  bottom: 2rem;
  left: 2.25rem;
  opacity: 1;
  mix-blend-mode: difference;
}