.item-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: calc(var(--ion-safe-area-top) + 0rem);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3rem) saturate(1.6);
    transition: opacity .3s 0s, max-height 0s 0s;
    z-index: 100;
    max-height: 200rem;

    &--hidden {
        opacity: 0;
        pointer-events: none;
        max-height: 0;
        transition: opacity .3s 0s, max-height 0s .3s;
    }

    &--hidden &__content {
        transform: scale(0.85);
        filter: blur(1rem);
    }

    &__content {
        padding: 1rem;
        height: calc(100% - var(--ion-safe-area-top) - 9rem);
        z-index: 20;
        opacity: 1;
        display: flex;
        flex-direction: column;
        transition: .3s;
    }

    &__header {
        position: relative;
        padding: 0.75rem 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        z-index: 20;
        opacity: 1;
        color: white;
    }

    &__header-title {
        margin: 0;
        opacity: 0;
    }

    &__close-btn {
        color: white;
        margin: 0;
        font-weight: 500;
    }

    &__item-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        text-align: center;
        color: white;
        align-items: center;
    }

    &__room-name {
        margin: 0.25rem 0 1rem 0;
    }

    &__item-name {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 0 0rem 0;
    }

    &__item-status {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        width: auto;
        padding: 0.25rem 0.6rem;
        display: inline-block;
        transition: width 0.3s ease, padding 0.3s ease;
        position: relative;
        height: 2rem;
        overflow: hidden;

        p {
            opacity: 1;
            transition: opacity 0.3s ease;
            margin: 0;
            position: absolute;
            width: max-content;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        p.fading {
            opacity: 0;
        }
    }

    &__content-wrapper {
        display: flex;
        justify-content: center;
        height: calc(100% - 7rem);
        align-items: center;
        gap: 1.5rem;
    }

    &--vertical &__content-wrapper{
        flex-direction: column;
    }
}