.button {
    height: fit-content;
    padding: 1rem 2rem;
    width: 100%;
    background-color: transparent;
    border-radius: 0.875rem;
    color: rgb(0, 102, 255);
    box-sizing: border-box;
    transition: .2s;
    clear: both;

    &--primary {
        background-color: rgb(235 235 235);
        color: black;
        // box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
        // backdrop-filter: blur(2rem);
    }

    &--with-description {
        border-radius: 1rem;
        padding: 1.5rem 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: black;
    }

    &__label {
        margin: 0;
    }

    &__description {
        font-size: 0.875rem;
        opacity: 0.6;
        margin: 0.25rem 0 0 0;
    }

    &--inactive {
        opacity: 0.5;
        pointer-events: none;
    }
}

.button--primary.button--with-description {
    background-color: black;
    border: none;
    color: white;
}