.button {
    height: fit-content;
    padding: 1rem 2rem;
    width: 100%;
    background-color: transparent;
    border-radius: 0.875rem;
    color: rgb(0, 102, 255);
    box-sizing: border-box;
    transition: .2s;
    clear: both;

    &--primary {
        background-color: rgba(0, 0, 0, 0.08);
        color: black;
        // box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
        // backdrop-filter: blur(2rem);
    }

    &__label{
        margin: 0;
    }

    &--inactive {
        opacity: 0.5;
        pointer-events: none;
    }
}