.scanner-preview {
    width: 100%;
    height: auto;
    aspect-ratio: 1.8 / 1;
    background-color: black;
    color: white;
    border-radius: 1rem;
    margin: 1.2rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &__camera-preview {
        height: auto;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    &__spinner{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    &__scanner{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}
