.btn-card {
    width: calc(50% - 0.75rem / 2);
    height: auto;
    aspect-ratio: 1 / 1.2;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;

    &--transparent {
        background-color: transparent;
        pointer-events: none;
    }

    &--hidden {
        opacity: 0;
        pointer-events: none;
        // transform: scale(0.9);
        // filter: blur(2rem);
    }

    &--invisible-content &__text,
    &--invisible-content &__icon {
        opacity: 0;
    }

    &__text {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        transition: opacity 0.1s;
    }

    &__title {
        margin: 0;
        line-height: 1.1;
        font-weight: 500;
    }

    &__label {
        margin: 0.25rem 0 0 0;
        line-height: 1.1;
        opacity: 0.6;
        font-size: 0.75rem;
        width: calc(100% - 2rem);
    }

    &__icon {
        position: absolute;
        top: calc(50% - 2rem);
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s, opacity .1s;
    }
}

.btn-card__expanded {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 1.5rem;
    transition: opacity 0.3s, transform 0.3s;
}

.btn-card__expanded .btn-card__expanded-content {
    opacity: 1;
}

.btn-card--сlosing {
    transition: opacity 0.3s ease;

    &__text{
        opacity: 1;
    }
}

.btn-card__closing .btn-card__expanded-content {
    // opacity: 0;
}

.btn-card__expanded-content {
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    // transition: opacity 0.3s ease; // Плавный переход
    opacity: 0; // Начальное значение
}

.btn-card__text--expanded {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white;
    width: calc(100% - 4rem);
    text-align: center;
    overflow: hidden;
}

.btn-card__icon--large {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

