.light-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .brightness-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 250px;
    width: 50px;
    margin: 0 10px;
  }
  
  .brightness-track {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #eee;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .brightness-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 25px;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  
  .slider-hidden {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-appearance: none;
    cursor: pointer;
  }
  
  .color-temp-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 200px;
  }
  
  .slider-vertical {
    writing-mode: bt-lr;
    width: 50px;
    height: 200px;
    appearance: none;
    position: absolute;
    z-index: 1;
    opacity: 0; /* скрываем сам слайдер, оставляем только кружки */
  }
  
  .color-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .color-option.active {
    transform: scale(1.4); /* Увеличение выбранного цвета */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  