.room-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: calc(var(--ion-safe-area-top) + 0rem);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3rem) saturate(1.6);
    transition: opacity .3s 0s, max-height 0s 0s;
    z-index: 100;
    max-height: 200rem;

    &--hidden {
        opacity: 0;
        pointer-events: none;
        max-height: 0;
        transition: opacity .3s 0s, max-height 0s .3s;
    }

    &--hidden &__content {
        transform: translateY(3rem);
        filter: blur(1rem);
    }


    &__content {
        padding: 1rem;
        height: calc(100% - var(--ion-safe-area-top) - 9rem);
        z-index: 20;
        opacity: 1;
        display: flex;
        flex-direction: column;
        transition: .3s;
    }

    &__header {
        position: relative;
        padding: 0.75rem 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        z-index: 20;
        opacity: 1;
    }

    &__header-title {
        margin: 0;
        font-weight: 600;
    }

    &__close-btn {
        margin: 0;
        font-weight: 500;
    }

    &__item-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        text-align: center;
        color: white;
        align-items: center;
        transition: .3s .1s;
    }

    &__room-name {
        margin: 0.25rem 0 1rem 0;
    }

    &__item-name {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 0 0rem 0;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100% - 7rem);
        align-items: flex-start;
        gap: .5rem;
    }

    &--vertical &__content-wrapper{
        flex-direction: column;
    }
}