.toggle-list {
    width: 100%;
    float: left;

    &--light &__wrapper {
        background-color: rgba(0, 0, 0, 0.06);
        color: black;
    }

    &--bottom-separated &__wrapper {
        margin-bottom: 2rem;
    }

    &--separated &__label {
        margin-top: 1rem;
    }

    &__wrapper {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0rem 1rem;
        border-radius: 0.8rem;
        width: 100%;
        min-width: max-content;
        box-sizing: border-box;
    }

    &__toggle-label {
        margin: 0;
        width: max-content;
        min-width: max-content;
        position: absolute;
        top: 50%;
        left: 0rem;
        transform: translate(0, -50%);
    }

    &__label {
        margin: 0 0 0.5rem 0;
        padding-left: 0.5rem;
        font-size: 0.75rem;
        opacity: 0.6;
        text-transform: uppercase;
    }

    &__item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0.5rem 0;
        position: relative;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05); // Легкая граница между элементами
        }
    }

    &__label{
        margin: 0 0 0.5rem 0;
        padding-left: 0.5rem;
        font-size: 0.75rem;
        opacity: 0.6;
        text-transform: uppercase;
        text-align: left;
    }

    &__toggle {
        // Дополнительные стили для переключателя, если необходимо
    }
}