.items-list {
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    padding-bottom: 0.2rem;
    width: 100%;
    transition: .3s;

    &--separated {
        margin-top: 2rem;
    }

    &--to-delete {
        transform: scale(0.9);
        opacity: 0 !important;
        filter: blur(1rem);
    }

    &--light &__room-name {
        color: black;
        padding: 0.5rem 0.875rem;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 2rem;
        width: fit-content;
        font-size: 1rem;
    }

    &--atomic-selection &__room-name {
        padding: 0;
        background-color: transparent;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    &__room-name {
        font-size: 1.25rem;
        font-weight: 500;
        text-align: left;
    }
}