html {
  user-select: none;
  -webkit-touch-callout: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

.page {
  height: max-content;
  width: 100vw;
  box-sizing: border-box;
  background-size: contain;
  padding: 0rem 1rem 12rem 1rem;
  overflow-y: scroll;
}

.page--compensated{
  margin-top: -2rem;
}

ion-content {
  --background: transparent;
}

.ion-content{
  background-size: cover;
  background-position: center;
  padding-bottom: 5rem;
}

/* ion-header{
  --opacity-scale: 1!important;
} */

ion-toolbar {
  --background: transparent !important;
  --color: white
}

.header-collapse-condense {
  z-index: 9;
  margin-top: 2.2rem;
  margin-bottom: 0.5rem;
}

.header-background {
  -webkit-backdrop-filter: blur(2rem)!important;
  backdrop-filter: blur(2rem)!important;
  /* background-color: transparent!important; */
}

ion-searchbar.search-field {
  /* --bacdrop-filter: blur(2rem) */
}

.ion-page{
  /* --ion-background-color: rgba(255, 255, 255, 0.573); */
  /* backdrop-filter: blur(2rem); */
}

ion-toolbar{
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.4));
}


.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}

.header-collapse-condense-inactive.header-collapse-condense ion-toolbar.in-toolbar ion-title{
  visibility: visible!important;
}

/* .page{
  transition: .3s;
}

body:has(.btn-card__expanded) .page{
  opacity: 0;
} */
