.add-accessory-popup {

    &__code-input {
        padding: 1.6rem 1rem;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 0.875rem;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 500;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        margin-bottom: 3rem;
        margin-top: 0.2rem;
    }

    &__cards-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    &__card {
        height: 8rem;
        padding: 0.875rem;
        width: calc(50% - 0.25rem);
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        flex-direction: column;
        gap: 0.75rem;

        &--wide {
            width: 100%;
            margin-top: 0.5rem
        }
    }

    &__avatar {
        height: 2.25rem;
        width: 2.25rem;
        min-height: 2.25rem;
        min-width: 2.25rem;
        border-radius: 50%;
        background-size: cover;
        margin: -3px -0.875rem 0 -3px;
        outline: 1px solid rgba(255, 255, 255, 0.2);
        outline-offset: -1px;
        border: 3px solid #ededed;
        z-index: 0;
    }

    &__card-plus-circle {
        height: 2.25rem;
        width: 2.25rem;
        outline: 1px solid rgba(0, 0, 0, 0.2);
        outline-offset: -4px;
        margin-top: -3px;
        background-color: #EDEDED;
        border: 3px solid #f2f2f2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    &__circle-compensation{
        display: flex;
        flex-direction: row;
    }

    &__card-name {
        margin: 0;
        text-align: left;
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 0.25rem;

        &--centered {
            text-align: center;
        }
    }

    &__card-label {
        margin: 0;
        text-align: left;
        font-size: 0.75rem;
        opacity: 0.6;
    }

    &__card-icon {
        opacity: 0.7;
        min-height: 2rem;
        min-width: 2rem;
    }

    &__primary-button {
        margin-top: 2rem;
    }

    &__buttons-group {
        position: relative;
        z-index: 10;

        &--bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1rem 1.5rem;
            width: calc(100% - 3rem);
        }
    }

    &__scrollable-list {
        overflow-y: scroll;
        overflow-x: hidden;
        width: calc(100% + 3rem);
        padding: 0 1.5rem;
        padding-bottom: 6rem;
        box-sizing: border-box;
        position: relative;
    }

    &__scrollable-list-tint {
        height: 3rem;
        width: 100%;
        position: fixed;
        left: 0;
        top: 6.5rem;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        z-index: 5;
    }

    &__spinner-wrapper {
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__buttons-group-tint {
        height: calc(100% + 2rem);
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
        z-index: -1;
    }

    &__item-name {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }

    &__item-manufacturer {
        margin: 0;
        margin-bottom: 2rem;
    }

    &__main-icon {
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    &__text {
        margin: 0;

        &--bottom-separated {
            padding-bottom: 2rem;
        }
    }
}